#calculater{
border: 5px solid rgb(224, 58, 58);
border-radius: 10px;
width: 250px;
margin: 70px;
padding: 50px;
background:linear-gradient(-45deg,rgb(205, 205, 161),brown);
box-shadow: 14px 6px 6px 6px rgb(158, 169, 190);
box-sizing: content-box;

height: 500px;
}
.h1{
    text-shadow: 5px;
    color: blue;
    text-align: center;
}
#display{
    margin: 10px;
    width: 90%;
    border-radius: 10px;
    font-size: 30px;
    text-align: right;
    background-color: rgb(238, 224, 224);
}
.button{
    width: 50px;
    height: 50px;
    margin: 5px;
    text-decoration: aqua;
    background: linear-gradient(-45deg,white,black);
    display: flexbox;
    border-radius: 10px;
   
}
.button{
    color: rgb(249, 249, 251);
    font-size: 1.5rem;
}

.button:hover{
    background: -moz-linear-gradient(-45deg,yellow,rgb(91, 10, 10));
    transition: 5s;
}

.button-container{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
}